body {
    background-color: gray;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: strong;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 40%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    border: black;
    /*outline: 4px solid black;*/
}
td {
    border: 0.2px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 0.1pt;
    background-color: #ffffff;
    
}
td:hover {
    background-color: white;
}
tr td:nth-child(3n+3) {
    border-right: 4px solid black;
}
tr td:nth-child(3n+1) {
    border-left: 4px solid black;
}
table tr:nth-child(3n+3) td {
    border-bottom: 4px solid black;
}
table tr:nth-child(3n+1) td {
    border-top: 4px solid black;
}
input {
    width: 40%;
    height: 70%;
    border: black;
    background-color: white;
    text-align: center;
    padding: 7px;
    font-size: 18px;
    font-weight: strong;
    font-family: Arial, Helvetica, sans-serif;
}
.message {
    text-align: center;
    font-size: 20px;
    font-weight: strong;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#head_instruction {
    text-align: center;
    font-size: 15px;
    font-weight: strong;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.footer {
    color: white;
    position: fixed;
    text-align: right; 
    font-size: 14px;   
    bottom: 0px; 
    width: 98%;
}